<div class="hero-unit offset1">
	<%= render 'layouts/banner' %>
	<%= render 'layouts/flash_messages' %>

	<p>Just some tweaks...</p>
	<p class=""><%= render 'form'%></p>
	<p>
		<p>
			<%= link_to 'Show', @alpha_user %> |
		<%= link_to 'Back', alpha_users_path %>
		</p>
	</p>
</div>

