<div class="add_memoid">
	<%= form_for @user do |f| %>	
		<h4>Memoid</h4>
		<%= f.fields_for :memoids, @user.memoids.build do |m| %>
			<div>
				<%= m.label :note, "Note" %>
					<%= m.text_area :note, 
									:size => "40x4", 
									:placeholder => "Enter memoid..."  %>
			</div>
			<div class="actions">
				<%= m.submit "Add memoid"%>
			</div>
		<% end %>		
	<% end %>
</div>

<div class="add-time">
	<%= form_for @user do |f| %>
		<h4>Release Time</h4>
		<%= f.fields_for :releasetime do |r_builder| %>
			<div>
				<%= r_builder.label :pingtime, "Time" %>
				<%= r_builder.time_select :pingtime %>
			</div>
			<div class="submit">
				<%= r_builder.submit "Add Time" %>
			</div>
		<% end %>
	<% end %>
</div>