<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<header>
				<h1><%= @user.firstname %></h1>
			</header>
		</div>
		<div class="span10">
			<h1><span id="head0">Profile</span></h1>

			<div class="span-box0 span12 offset2">
				<%#= render 'form' %>
			</div>

			</br >

			<%= link_to '<- Back', user_memoids_path %>
		</div>
	</div>
</div>







<!-- <p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @user.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @user.lastname %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
 -->