<header class="jumbotron">
	<a href=<%= root_path %>>
		<h1 class="head1">
			Memoly
		</h1>
	</a>
	
	<h2 class="subhead">Hey. Let's Get Smarter. Together.</h2>
	<p class="row-fluid">
		<a  href=<%= new_alpha_user_path %> 
			class="btn btn-large">
					Get Started
				</a>
	</p>
</header>
<div class="container">
	<% if flash[:notice] then %>
		<div class="alert">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<%= flash[:notice] %>
		</div>
	<% end -%>
	<% if flash[:success] then %>
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<%= flash[:success] %>
		</div>
	<% end -%>
	<% if flash[:error] then %>
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<%= flash[:error] %>
		</div>
	<% end -%>
	
	<div class="row-fluid summary">
		<div class="span4">
			<%= image_tag("alarm.svg", :class => "summarise")%>
			<h4 class="centerise_text">Choose A Time To Revise</h4>
		</div>
		<div class="span4">
			<%= image_tag("books.svg", :class => "summarise") %>
			<h4 class="centerise_text">Add Condensed Class Notes</h4>
		</div>
		<div class="span4">
			<%= image_tag("watch.svg", :class => "summarise") %>
			<h4 class="centerise_text">Receive Scientifically-spaced Revision on any device</h4>
		</div>
	</div>
</div>
<div class="container">
	<iframe width="100%" 
			height="300em" 
			src="http://www.youtube.com/embed/E2YP8Ln1MNU" 
			frameborder="0" 
			align="middle"
			allowfullscreen></iframe>
</div>

<footer class="footer">
	<div class="container">
		<div class="center">
			<ul class="nav nav-pills">
			<li><a href="/">What's Memoly?</a></li>
			<li><a href="/">The Team</a></li>
			<li><a href="/">Our Privacy Policy</a></li>
			<li><a href="/">Terms of Use</a></li>
			<li><a href="/">Community</a></li>
			<li><a href=<%= new_user_session_path%>>Sign In</a></li>
		</ul>
		</div>
	</div>
</footer>