<header class="jumbotron">
	<a href=<%= root_path %>>
		<h1 class="head1">
			Memoly
		</h1>
	</a>
	
	<h2 class="subhead">Let's get smarter together.</h2><br />
		<p class="lead">We're almost ready, but if you fancy feeding our egos and showing </p>
		<p class="lead">us that you're interested in our product please leave <strong>your email</strong> below. </p>
		<p class="lead">We promise to do a celebratory dance for each one we receive.</p>
	
	
	<p class="row-fluid">
		<%= render template: 'alpha_users/new' %>
	</p>
	<iframe width="50%" 
			height="400em" 
			src="http://www.youtube.com/embed/E2YP8Ln1MNU?html5=1" 
			frameborder="0" 
			align="middle"
			allowfullscreen></iframe>
</header>
<div class="container">
	<%= render "layouts/flash_messages" %><br />
	<h2 id="how_it_works" class="centerise_text muted">How it works...</h2><br />
		<div class="row-fluid summary">
		<div class="span4">
			<%= image_tag("set-revision-time.png", :class => "summarise summarise_time")%>
			<h4 class="summary_text muted">Choose A Time To Revise</h4>
		</div>
		<div class="span4">
			<%= image_tag("add-notes.png", :class => "summarise summarise_notes") %>
			<h4 class="summary_text muted">Add Condensed Class Notes</h4>
		</div>
		<div class="span4">
			<%= image_tag("spaced-icon.png", :class => "summarise summarise_space") %>
			<h4 class="summary_text muted">Receive Scientifically-spaced Revision on any device</h4>
		</div>
	</div>
</div>

