<%= render 'layouts/banner' %> </br >

<div align="center"><!--570px * 370px-->
	<iframe width="60.638297%" 
			height="300em" 
			src="http://www.youtube.com/embed/E2YP8Ln1MNU" 
			frameborder="0" 
			align="middle"
			allowfullscreen></iframe>
</div></br >

<section class="span7 center">
	<div class="media">
	    <a class="pull-left" href="#">
	    	<%= image_tag("1.png", 	:width=>"45em", 
	    							:class=>"media-object",
	    							:alt=>"first item")%>
	    </a>
	    <div class="media-body">
		    <h3 class="media-heading media-heading-0">Choose Time To Revise</h3>
		    <!-- Nested media object -->
		    <div class="media media-0 ">
			    For example 19:30 when I am on the bus
		    </div>
	    </div>
    </div>

    <div class="media">
	    <a class="pull-left" href="#">
		    <%= image_tag("2.png", 	:width=>"45em", 
	    							:class=>"media-object",
	    							:alt=>"second item")%>
	    </a>
	    <div class="media-body">
		    <h3 class="media-heading media-heading-0">Add condensed notes into Memoly</h3>
		    <!-- Nested media object -->
		    <div class="media media-0">
			    Manually or through bulk uploads
		    </div>
	    </div>
    </div>

    <div class="media">
	    <a class="pull-left" href="#">
		    <%= image_tag("3.png", 	:width=>"45em", 
	    							:class=>"media-object",
	    							:alt=>"third item")%>
	    </a>
	    <div class="media-body">
		    <h3 class="media-heading media-heading-0">Receive scientifically-spaced revision</h3>
		    <!-- Nested media object -->
		    <div class="media media-0">
			    Never will you cram again
		    </div>
	    </div>
    </div>
    <p class="span3 center">
		<%= link_to "Get Started", new_alpha_user_path, :class => "btn btn-large btn-info center" %>
		<!--<a href=""></a>href= <%= new_alpha_user_path %> class="btn btn-large btn-info">
		Start Free Trial 
		</a> -->
	</p>
</section>