<%= render "layouts/banner" %>

<div class="row-fluid">
	<div class="offset1 span6">
	  <%#= link_to "New Blog Post", new_user_post_path %>
	  <% @posts.each do |post| %>
	    <h2><%= link_to post.title.html_safe, user_post_path(post.user.id, post.id)  %>
	    </h2>
	    <small> 
	    	Posted <%= time_ago_in_words post.created_at %> ago by <%= post.user.username %>
	    </small>
	    <p>
	    	<%= truncate(Sanitize.clean(post.text), :length => 200) %>
	    </p><br />
	  <% end %> 
  </div>
</div>
