<div class="span-box0 span12">
  <h1 class="offset0"> 
    <span id="head0">Blog</span> 
    <%= image_tag("MemolyLogo.png", :width  => "250px", 
                  :height => "100%", 
                  :alt  => "Memoly logo")%>
  </h1>

  <!--div class="offset2">
    <%#= image_tag("DeviceOutlines.png", :width  => "500px", 
                    :height => "100%", 
                    :alt  => "compatible devices")%>
  </div-->
  <%= link_to "New Blog Post", new_post_path %>
  <% @posts.each do |post| %>
    <h2><%= link_to post.title, post  %></h2>
    <small> Posted <%= time_ago_in_words post.created_at %> ago</small>
    <p><%= truncate post.text  %></p>
  <% end %> 

</div>
