<%= render "layouts/banner" %>
<p id="notice"><%= notice %></p>
<div class="row-fluid">
	<div class="span5 offset1">
		<h2>
			<%= @post.title.html_safe %>
		</h2>
		<small> 
			Posted <%= time_ago_in_words @post.created_at %> ago by <%= @post.user.username %>
		</small><br />
		<%= Sanitize.clean(@post.text) %>
	</div> 
	<div class="span5">
		<h3>All Posts</h3>
			<% @posts.each do |post| %>
				<p><%= link_to post.title, user_post_path(post) %></p>
			<% end %>
		<h3>Tags</h3>
		<p>addition, multiplication, endless, tag, cloud</p>
	</div>
</div>

<div class="row-fluid">
	<div class="offset1">
		<%= link_to 'Edit', edit_user_post_path(@post) %> |
		<%= link_to 'Back', user_posts_path %> |  
		<%= link_to 'Delete', user_post_path(@post), method: :delete, :confirm => "Are you sure you want to delete post?" %>
	</div>
</div>

<div>

</div>

<div class="row-fluid">
	<div class="span8 offset1">
		<h3>Comments</h3>
		<div>
			<ul>
				<% @post.comments.each do |comment| %>
					<li>
						<%= comment.text %> 
						<small> 
							Commented <%= time_ago_in_words comment.created_at %> ago
						</small>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<div>
	<%= form_for (@post.comments.build) do |f| %>
	<% end %>
</div>
