<h1>Listing All Memolies</h1>

<table>
  <tr>
    <th>Note</th>
    <th>Page</th>
    <th>Rating</th>
    <th>Title</th>
    <th>Author</th>
    <th>ISBN</th>
    <th>Shared?</th>
    <th>Expires on</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @memoids.each do |memoid| %>
  <tr>
    <td><%= memoid.note %></td>
    <td><%= memoid.page %></td>
    <td><%= memoid.rating %></td>
    <td><%= memoid.title %></td>
    <td><%= memoid.author %></td>
    <td><%= memoid.ISBN %></td>
    <td><%= memoid.expires_on %></td>
    <td><%= memoid.public %></td>
    <td><%= link_to 'Show', memoid %></td>
    <td><%= link_to 'Edit', edit_memoid_path(memoid) %></td>
    <td><%= link_to 'Destroy', memoid, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Memoid', new_memoid_path %>
