<%= render 'layouts/banner' %>

<h2>Memoly Stream</h2>

<div class="row-fluid">
  <!--side-panel-->
  <div class="span2 side-bar">
    <!--Sidebar content-->
    <ul class="side-icon-list">
      <li>
        <a href=<%=user_memoids_path( current_user ) %>>
          <%= image_tag("earth.svg", :class => "summarise") %>
        </a>
      </li>
      <li>
        <a href="/">
          <%= image_tag("books.svg", :class => "summarise") %>
        </a>
      </li>
      <li>
        <a href=<%#=user_releasetime_path( current_user)%>>          
          <%= image_tag("watch.svg", :class => "summarise") %>
        </a>
      </li>
      <li>
        <a href="/">
          <%= image_tag("graph.svg", :class => "summarise") %>
        </a>
      </li>
    </ul>
    <hr>
    <ul>
      <li class="nav nav-pill"><a href="/">Get Support</a></li>
      <li><a href="/">Meet The Team</a></li>
      <li><a href="/">Memoly Blog</a></li>
      <li><a href="/">Our Privacy Policy</a></li>
      <li><a href="/">Terms of Use</a></li>
    </ul>
    <hr>
    <ul>
      <li>
        <p class="head2">
          &copy;<%= Time.zone.now.year %> MemolyApp. 
        </p>
        <p class="head2">
          All rights reserved.
        </p>
      </li>
    </ul>
  </div>
  <!--end-of-side-panel-->

  <div class="span10">
    <!--Memoid and Time Forms-->
    <div class="span6">
      <%= link_to 'New Memoid', new_user_memoid_path %>
      <%= render 'layouts/flash_messages' %> 
    </div>
    <div class="span8">
      <ul class="thumbnails">
        <% Memoid.public.each do |memoid| %>
          <li>
            <div class="thumbnail">
              <h3><%= memoid.topic.name.html_safe if memoid.topic %></h3>
              <p><%= memoid.note.html_safe %></p>
              <small>
                by <%= link_to memoid.user.username, user_path(memoid.user.id) %> </br >
                <cite title="Source Title">
                  <%= time_ago_in_words memoid.created_at %> ago
                </cite>
              </small>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
