<p id="notice"><%= notice %></p>
<p>
  <b>Title:</b>
  <%= @memoid.title %>
</p>

<p>
  <b>Note:</b>
  <%= @memoid.note %>
</p>

<p>
  <b>Shared:</b>
  <%= @memoid.public %>
</p>
<!--
<p>
  <b>Page:</b>
  <%= @memoid.page %>
</p>

<p>
  <b>Rating:</b>
  <%= @memoid.rating %>
</p>

<p>
  <b>Author:</b>
  <%= @memoid.author %>
</p>

<p>
  <b>Isbn:</b>
  <%= @memoid.ISBN %>
</p>

<p>
  <b>Expires on:</b>
  <%= @memoid.expires_on %>
</p>
-->

<%= link_to 'Edit', edit_memoid_path(@memoid) %> |
<%= link_to 'Back', memoids_path %>
