<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : " Memoly" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application" %>
    <%#= stylesheet_link_tag "bootstrap-responsive.css" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="container">
      <%#= render 'layouts/nevada_nav' %>
    </div>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
              <%#= render 'layouts/messages' %>
              <%= yield %>
          </div>
          <footer class="footer">
            <hr>
            <div class="container">
              <p>&copy;<%= Time.now.year %> MemolyApp. All rights reserved. </p>
            </div>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
