<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : " Memoly" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="container">
        <%#= render "layouts/nevada_nav.html.erb" %>
        <%= yield %>
    </div>
    <footer class="footer">
      <hr>
      <div class="container">
        <p style="text-align: center;">
          &copy;<%= Time.now.year %> MemolyApp. All rights reserved.
        </p>
      </div>
    </footer>
    <script type="text/javascript">
      var GoSquared = {};
      GoSquared.acct = "GSN-874249-E";
      (function(w){
        function gs(){
          w._gstc_lt = +new Date;
          var d = document, g = d.createElement("script");
          g.type = "text/javascript";
          g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
          var s = d.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(g, s);
        }
        w.addEventListener ?
          w.addEventListener("load", gs, false) :
          w.attachEvent("onload", gs);
      })(window);
    </script>
  </body>
</html>
