<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : " Memoly" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="fluid-container">
        <%#= render "layouts/nevada_nav.html.erb" %>
        <%= yield %>
    </div><!--end_of_main_body_container-->
    <!--
    <footer class="footer span12 center">
      <hr>
      <div class="span7 center">
        <a href="http://www.telegraph.co.uk/technology/technology-video/9670385/Boris-Johnson-visits-London-Startup-Weekend.html">
        <%= image_tag "Memoly-SW-Telegraph.png" %>
      </a>
      </div>
      
      <div class="container center">
        <p class="centerise_text">
          <%= link_to "Terms and Conditions", terms_path %>
          | 
          <%= link_to "Privacy Policy", privacy_path %> 
          | 
          <%= link_to "About Us", about_path %>
          |
          <%= link_to "Contact Us", contact_path %>
        </p>
        <p class="centerise_text">
          &copy;<%= Time.now.year %> MemolyApp. All rights reserved.
        </p>
      </div>
    </footer><!--end_of_footer-->

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39829789-1']);
      _gaq.push(['_setDomainName', 'memolyapp.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    
    <script type="text/javascript">
      var GoSquared = {};
      GoSquared.acct = "GSN-874249-E";
      (function(w){
        function gs(){
          w._gstc_lt = +new Date;
          var d = document, g = d.createElement("script");
          g.type = "text/javascript";
          g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
          var s = d.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(g, s);
        }
        w.addEventListener ?
          w.addEventListener("load", gs, false) :
          w.attachEvent("onload", gs);
      })(window);
    </script>
  </body>
</html>
