<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : " Memoly" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%#= javascript_include_tag "nprogress" %>
    <%#= stylesheet_link_tag "nprogress" %>
    <%= favicon_link_tag 'memoly.ico' %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <script type="text/javascript"
            src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
  </head>
  <body>
    <div class="fluid-container">
        <%= yield %>
    </div><!--end_of_main_body_container-->
    <footer>
      <div class="navbar" style="margin-bottom: 0px;">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href=<%= root_url %>>
              Home
            </a>

            <div class="nav-collapse collapse" >
              <ul class="nav">
                <li class="">
                  <a href="#">What's Memoly?</a>
                </li>
                <li>
                  <a href=<%= about_path %>>The Team</a>
                </li>
                <li>
                  <a href=<%= privacy_path %>>Our Privacy Policy</a>
                </li>
                <li>
                  <a href=<%= terms_path %>>Terms of Use</a>
                </li>
                <li>
                  <a href=<%= posts_path %>>Blog</a>
                </li>
                <li>
                  <% if user_signed_in? then %>
                    <%= link_to "Sign me out", destroy_user_session_path, :method => :delete, :confirm => "Are you sure you want to sign out?" %>
                    <% else %>
                      <%= link_to "Sign me in", new_user_session_path %>
                    <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript">
      $('.collapse').collapse()
    </script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39829789-1']);
      _gaq.push(['_setDomainName', 'memolyapp.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    
    <script type="text/javascript">
      var GoSquared = {};
      GoSquared.acct = "GSN-874249-E";
      (function(w){
        function gs(){
          w._gstc_lt = +new Date;
          var d = document, g = d.createElement("script");
          g.type = "text/javascript";
          g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
          var s = d.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(g, s);
        }
        w.addEventListener ?
          w.addEventListener("load", gs, false) :
          w.attachEvent("onload", gs);
      })(window);
    </script>
    <script>
       $('body').show();
       $('.version').text(NProgress.version);
       NProgress.start();
       setTimeout(function() { NProgress.done(); $('.fade').removeClass('out'); }, 1000);

       $("#b-0").click(function() { NProgress.start(); });
       $("#b-40").click(function() { NProgress.set(0.4); });
       $("#b-inc").click(function() { NProgress.inc(); });
       $("#b-100").click(function() { NProgress.done(); });
     </script>
  </body>
</html>
