<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : " Memoly" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="fluid-container">
        <%= yield %>
    </div><!--end_of_main_body_container-->
    <footer>
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">

            <!--
            <a  class="btn btn-navbar" 
                data-toggle="collapse"
                data-target=".nav-collapse" >
                  <span class="icon-bar" ></span>
                  <span class="icon-bar" ></span>
                  <span class="icon-bar"></span>
            </a> -->

            <a class="brand" href=<%= root_url %>>
              ...
            </a>

            <div class="nav-collapse collapse" >
              <ul class="nav">
                <li class="">
                  <a href="#">What's Memoly?</a>
                </li>
                <li>
                  <a href="#">The Team</a>
                </li>
                <li>
                  <a href="#">Our Privacy Policy</a>
                </li>
                <li>
                  <a href="#">Terms of Use</a>
                </li>
                <li>
                  <a href="#">Community</a>
                </li>
                <li>
                  <% if user_signed_in? then %>
                    <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :confirm => "Are you sure you want to sign out?" %>
                    <% else %>
                      <%= link_to "Sign in", new_user_session_path %>
                    <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript">
      $('.collapse').collapse()
    </script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39829789-1']);
      _gaq.push(['_setDomainName', 'memolyapp.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    
    <script type="text/javascript">
      var GoSquared = {};
      GoSquared.acct = "GSN-874249-E";
      (function(w){
        function gs(){
          w._gstc_lt = +new Date;
          var d = document, g = d.createElement("script");
          g.type = "text/javascript";
          g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
          var s = d.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(g, s);
        }
        w.addEventListener ?
          w.addEventListener("load", gs, false) :
          w.attachEvent("onload", gs);
      })(window);
    </script>
  </body>
</html>
